.cart{
    background-color: rgba(255, 153, 0,.3);
    padding: 25px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin-top: 0px;
    margin-bottom: 0px;
    position: sticky;
    top: 0;
}