.review-item{
    width: 571px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    margin-bottom: 25px;
    padding: 8px 40px 8px 8px ;
    height: 107px;
    display: flex;
    align-items: center;
}
.review-item img{
    width: 91px;
    border-radius: 8px;
}
.review-details p{
    margin: 0 20px;
}
.review-item .product-titel{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;

}
.review-details{
    flex-grow: 1;
}
.orange-color{
    color: orangered;
    opacity: orange;
}
.btn-delete{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-color: rgba(235,87,87,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon{
    color: #EB5757;
    font-size: 27px;
}